/* src/components/PhotoGallery.css */

.photo-gallery {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    gap: 35px;
  }
  
  .slide {
    text-align: center;
    gap: 20px;
  }
  


  .slide-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    gap: 20px;
  }
  
  .slide-caption {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }

  .slick-slide {
    padding: 0 10px;
  }
  